/*

*/
.converter-box{
	margin:20% auto;
}
.sel-inp{
	margin-top:32px;
}
.h-top{
	text-align: center;
	padding:15px;
}

.result-f{
  text-align: center;
  padding: 10px;
}

.result-t{
	font-weight: bolder;

}
footer p {
	text-align: center;
}